@use "../abstracts" as *;

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
}

section {
  padding-block: var(--section-spacing);
}

main {
  padding-block: var(--size-fluid-4);
}

.articles {
  @include flow(3rem);
}

.article {
  @include flow(1rem);
}
