@mixin flow($space: 1rem) {
  & > *:where(:not(:first-child)) {
    margin-top: var(--flow-spacer, $space);
  }
}

@mixin wrapper($size: 60rem, $space: 1rem) {
  width: min(100% - $space, $size);
  margin-inline: auto;
}
