<!DOCTYPE html>
<html lang="{{ metadata.language }}">
  <head>
    {% include "partials/head.njk" %}
  </head>
  <body>
    {% include 'partials/header.njk' %}
    <main class="wrapper">
      {{ content | safe }}
    </main>
    {% include 'partials/footer.njk' %}
  </body>
</html>