---
title : Homepage
layout : 'layouts/base.njk'
---

<aside class="sidebar">
  <nav class="sidebar__nav">
    <h2 id="table-of-contents">Table of Contents</h2>
    <ul>
      {% for post in collections.posts %}
        <li>
          <a href="#{{ post.data.id }}">{{ post.data.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</aside>

<article class="articles">
  {%- for post in collections.posts | sortByOrder -%}
    <section class="article">
      <h2 id="{{ post.data.id }}">{{ post.data.title }}</h2>
      {{ post.templateContent | safe }}
    </section>
  {%- endfor -%}
</article>